.sip{
    background-color: rgb(252, 162, 246);
    color: seashell;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 4px 3px 2px rgb(39, 7, 59);
   }

   .xi{
    background-color: rgb(252, 162, 246);
    color: seashell;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 4px 3px 2px rgb(39, 7, 59);
   }
   